asgiref==3.11.0
certifi==2026.1.4
charset-normalizer==3.4.4
Django==6.0
django-admin-honeypot @ git+https://github.com/dmpayton/django-admin-honeypot@a840496d183df89965eeb33c9a5dd9ea3919dfff
django-admin-thumbnails==1.0.0
django-ipware==7.0.1
django-session-timeout==0.1.0
idna==3.11
pillow==12.1.0
python-decouple==3.8
python-ipware==3.0.0
pytz==2025.2
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.2
