{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="card login-card">
    {% include 'alerts.html' %}

    <h2 class="py-3 text-center">Reset password</h2>
    <!-- {% include 'alerts.html' %} -->
    <form action="{% url 'forgot_password' %}" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <input type="email" class="form-control w-100" name="email" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Enter your email id ">
        </div>
       

        <button type="submit" class="btn reg_log_button w-100 mb-3">Submit</button>
    </form>

</div>
<p class="text-center"> <a href="{% url 'register' %}" class="text-decoration-none text-dark">Register</a> | <a class="text-decoration-none text-dark" href="{% url 'login' %}">Login</a></p>

{% endblock %}