{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="container my-5">
    <h4 class="mb-4">Welcome {{user.full_name}}</h4>

    <div class="row">
        <!-- LEFT SIDEBAR -->
        {% include 'accounts/dashboard_sidebar.html' %}

        <!-- RIGHT CONTENT -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <strong>Logged in as:</strong> <span>{{user.full_name}}</span>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Order #</th>
                                <th scope="col">Billing Name & Address</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Total amount</th>
                                <th scope="col"> Date</th>
                              </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                              <tr>
                                <th scope="row">
                                  <a href="{% url 'order_detail' order.order_number %}">{{order.order_number}}</a>


                                </th>
                                <td>{{order.full_name}}
                                    <br>
                                    {{ order.full_address }}
                                </td>
                                <td>{{ order.phone}}</td>
                                <td>{{ order.order_total}}</td>
                                <td>{{ order.created_at}}</td>
                              </tr>
                              {% endfor %}
                              
                            </tbody>
                          </table>
                        
                       
                    </div>
                </div>
                
                
            </div>
        </div>
    </div>
</section>

{% endblock %}
