{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link href="{% static 'css/auth.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}


<div class="card login-card">
    {% include 'alerts.html' %}

    <h2 class="py-3 text-center">Reset your password here


    </h2>
    <form action="{% url 'resetting_password' %}" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <input type="password" class="form-control w-100" name="new_password" placeholder="Enter new password">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control w-100" name="confirm_password" placeholder="Re-enter new password ">


        </div>

       

        <button type="submit" class="btn reg_log_button w-100 mb-3">Change password</button>
    </form>

</div>
<p class="text-center"> <a href="{% url 'register' %}" class="text-decoration-none text-dark">Register</a> | <a class="text-decoration-none text-dark" href="{% url 'login' %}">Login</a></p>

{% endblock %}