body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #fffdd0;
}

.header-row {
    border: 3px solid #390f0fb7;
    background-color: #390f0fe0;
    padding: 10px 0;
    height: auto;
}

.button-col {
    justify-content: right;
}

.header-logo {
    margin-top: 9px;
    color: #f4f0a3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    font-size: 2rem;
}

.col-12.d-flex.justify-content-end {
    justify-content: center;
    margin-top: 10px;
}

footer {
    background-color: #390f0fe3;
    color: bisque;
    padding: 15px 0;
    text-align: center;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

main.container {
    flex: 1;
}

@media (max-width: 576px) {
    .header-row {
        height: auto;
        text-align: center;
    }

    .header-logo {
        font-size: 1.5rem;
    }
}

button {
    background-color: #EDE8D0;

}

button a {
    color: #543333;
}

button a:hover {
    color: brown;
    text-decoration: none;
}

.text1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(82, 57, 57);
    top: 2px;
}

.banner-c {
    margin-top: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 80%;
}

.banner-c h1 {
    color: #543333;
    font-size: 2.5rem;
}

.banner-c p {
    color: #543333;
    text-align: center;
}

.items {
    display: grid;
}

.banner-jumbotron {
    height: 50vh;
    background-image: url("../images/banner1.png");
    background-size: cover;
    background-position: center;
}
