{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L&C Shopping</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{% static 'css/shop.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>
    <!-- Header -->

    <header>
        <div class="header-row px-3">

            <!-- LEFT: LOGO -->
            <div class="nav-left d-flex align-items-center">
                <a href="{% url 'home' %}" class="text-decoration-none">
                    <div class="header-logo">L&C shopping</div>
                </a>
            </div>

            <!-- CENTER: CATEGORY + STORE + SEARCH -->
            <div class="nav-center d-flex align-items-center gap-3">

                <!-- Categories -->
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        Categories
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'store' %}">All category</a>
                        {% for category in links %}
                        <a class="dropdown-item" href="{{ category.get_url }}">
                            {{ category.category_name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>

                <!-- Store Button -->
                <a href="{% url 'store' %}" class="btn text-dark text-decoration-none"
                    style="background-color: #EDE8D0;">Store</a>

                <!-- Search -->
                <form action="{% url 'search' %}" method="GET" class="form-inline d-flex">
                    <input class="form-control mr-2" type="text" placeholder="Search" name="keyword">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

            </div>

            <!-- RIGHT: LOGIN/REGISTER + CART ICON -->
            <div class="nav-right d-flex align-items-center gap-2">

                <a class="logReg text-decoration-non mx-1" style="color: rgb(248, 236, 170);">Login |
                </a>
                <a class="logReg text-decoration-non" style="color: rgb(248, 236, 170);">Register</a>

                <!-- CART BUTTON -->
                <a href="{% url 'cart' %}" class="btn btn-md position-relative cart-btn">
                    <i class="fa fa-shopping-cart"></i>

                    <!-- cart item count -->
                    <span class="cart-count-badge">
                        {{ cart_count }}
                    </span>
                </a>

            </div>

        </div>
    </header>


    <!-- content part -->


    <main class="main-content">
        {% block content %}{% endblock %}
    </main>



    <!-- footer part -->
    <footer>
        <p>Developed by Chithra</p>
        <p>contact <a href=""><i class="fa-brands fa-instagram"></i></a>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>

        </p>

    </footer>

</body>

</html>