{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L&C Shopping</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link href="{% static 'css/shop.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>
    <!-- Header -->

    <header>

        <div class="header-row d-flex justify-content-between align-items-center px-3">
            <!-- Left: Logo -->
            <div class="logo-header">
                <a href="{% url 'home' %}" class="text-decoration-none">
                    <div class="header-logo">L&C shopping</div>
                </a>
            </div>

            <!-- Right: Dropdown + Search + Buttons -->
            <div class="right-section d-flex align-items-center gap-3">
                <!-- Dropdown -->
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                        Categories
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'store' %}">All category</a>

                        {% for category in links %}
                        <a class="dropdown-item" href="{{ category.get_url }}">{{category.category_name}}</a>
                        {% endfor %}

                    </div>
                </div>

                <!-- Search -->
                <form class="form-inline d-flex mx-2">
                    <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>

                <!-- Login/Register -->
                <div class="d-flex mx-2">
                    <button class="btn btn-md mx-1">Login</button>
                    <button class="btn btn-md mx-1">Register</button>
                </div>
            </div>
        </div>

    </header>


    <!-- content part -->



    {% block content %}
    {% endblock %}



    <!-- footer part -->
    <footer>
        <p>Developed by Chithra</p>
        <p>contact <a href=""><i class="fa-brands fa-instagram"></i></a>
            <i class="fa-brands fa-github"></i>
            <i class="fa-brands fa-linkedin"></i>

        </p>

    </footer>

</body>

</html>