{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="banner-jumbotron">
    <div class="container banner-c">
        <a href="{% url 'home' %}">
            <h1 class="text1">Welcome to L&C Shopping </h1>
        </a>

        <!-- <h1 class="display-4">Fluid jumbotron</h1>
        <h1 class="display-4">Fluid jumbotron</h1>
        <h1 class="display-4">Fluid jumbotron</h1> -->
        <p class="lead">Explore our premium collections in Casual, Formal, Activewear and many more</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <button class="btn"><a href="#">Go somewhere</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <button class="btn"><a href="#">Go somewhere</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <button class="btn"><a href="#">Go somewhere</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <button class="btn"><a href="#">Go somewhere</a></button>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title5</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <button class="btn"><a href="#">Go somewhere</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title6</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <button class="btn"><a href="#">Go somewhere</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title7</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <button class="btn"><a href="#">Go somewhere</a></button>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-4">
            <div class="card" style="width: 100%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title8</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <button class="btn"><a href="#" class="text-decoration-none">Go somewhere</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}