{% extends 'base.html' %}
{% load static %}
{% block content %}

{% if not cart_items %}
<div class="empty">
    <h3>Oops! Your shopping cart is empty</h3>
    <a href="{% url 'store' %}" class="btn btn-primary">Continue shopping</a>

</div>


{% else %}
<h3>Shopping cart</h3>
<div class="checkout-wrapper container">


    <div class="row g-4">

        <!-- CART ITEMS -->
        <div class="col-lg-8">
            {% for cart_item in cart_items %}
            <div class="cart-item">
                <div class="cart-item-img">
                    <img src="{{ cart_item.product.image.url }}" alt="">
                </div>

                <div class="cart-item-info">
                    <h5>{{ cart_item.product.product_name }}</h5>
                    <p>Color: Blue</p>
                    <p>Size: XL</p>
                </div>

                <div class="cart-item-qty">
                    <h5>Quantity</h5>
                    <div class="qty-box">
                        <a href="{% url 'remove_cart' cart_item.product.id %}"
                            class="qty-btn text-muted tex-decoration-none">
                            <i class="fa fa-minus"></i></a>
                        <div class="qty-value">{{ cart_item.quantity }}</div>
                        <a href="{% url 'add_cart' cart_item.product.id %}"
                            class="qty-btn text-muted tex-decoration-none">
                            <i class="fa fa-plus"></i></a>
                    </div>
                </div>

                <div class="cart-item-price">
                    <h5>Price</h5>
                    <strong> {{ cart_item.sub_total }}</strong><br>
                    <small>£ {{ cart_item.product.price }}each</small>
                </div>

                <a href="{% url 'delete_cart_item' cart_item.product.id %}"
                    class="remove-btn text-light tex-decoration-none">Remove
                    <i class="fa fa-trash"></i>
                </a>
            </div>
            {% endfor %}
        </div>


        <!-- CHECKOUT SUMMARY -->
        <div class="col-lg-4">
            <div class="checkout-summary">
                <h5>Order Summary</h5>

                <div class="summary-row">
                    <span>Total Price</span>
                    <span>£ {{ total }}</span>
                </div>

                <div class="summary-row">
                    <span>Tax</span>
                    <span>£{{ tax }}</span>
                </div>

                <div class="summary-row total">
                    <span>Grand Total</span>
                    <span>£ {{ grand_total }}</span>
                </div>

                <hr>

                <div class="payment-icons">
                    <i class="fa-brands fa-cc-visa" style="color: blue;"></i>
                    <i class="fa-brands fa-cc-mastercard" style="color: rgb(255, 0, 30); "></i>
                    <i class="fa-brands fa-cc-paypal" style="color: rgba(0, 0, 255, 0.658); "></i>
                    <i class="fa-brands fa-google-pay" style="color: rgb(23, 110, 15);"></i>
                </div>

                <button class="checkout-btn mt-3">Checkout</button>
                <a href="{% url 'store' %}" class="btn text-dark text-decoration-none mt-2"
                    style="background-color: rgb(231, 220, 209); width: 100%; ">Continue
                    shopping</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}