{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="checkout-wrapper container">
    <div class="row g-4">

        <!-- CART ITEMS -->
        <div class="col-lg-6">
            <div class="billing-details">
                <h4 class="pt-4 px-3">Billing address</h4>
                <form class="form-group billing-form" method="POST">
                    {% csrf_token %}
                    <div class="name-section">
                        <label>First Name *</label>
                        <label>Last Name *</label>
                    </div>

                    <div class="name-section">
                        <input type="text" class="form-control">
                        <input type="text" class="form-control">
                    </div>

                    <label>Address *</label>
                    <input type="text" class="form-control">
                    <label>City </label>
                    <input type="text" class="form-control">
                    <label>Country *</label>
                    <input type="text" class="form-control">

                    <div class="name-section">
                        <label>County (optional)</label>
                        <label>Postcode *</label>
                    </div>

                    <div class="name-section">
                        <input type="text" class="form-control">
                        <input type="text" class="form-control">
                    </div>

               
            </div>



        </div>

        <!-- CHECKOUT SUMMARY -->
        <div class="col-lg-6">
            {% for cart_item in cart_items %}
            <div class="checkout-container">
                <div class="cart-item">
                    <div class="cart-item-img">
                        <img src="{{ cart_item.product.image.url }}" alt="">
                    </div>
                   

                    <div class="cart-item-info">
                        <h5>{{ cart_item.product.product_name }}</h5>
                        {% if cart_item.variations.all %}
                            {% for item in cart_item.variations.all %}
                                {{ item.variation_name | capfirst }} : {{  item.variation_value | capfirst}}<br>
                            {% endfor %}
                        {% endif %}

                      
                    </div>

                    <div class="cart-item-qty">
                        <h5>Quantity</h5>
                        <p class="mx-4">{{cart_item.quantity}}</p>
                    </div>

                    <div class="cart-item-price">
                        <h5>Price</h5>
                        <strong>£ {{cart_item.sub_total}}</strong><br>
                        <small>each £{{cart_item.product.price}}</small>
                    </div>



                </div>
            </div>

            {% endfor %}
               


        
            <button class="btn order-btn" type="submit" name="submit">Place order</button>
            <a href="{% url 'store' %}" class="btn continue-btn text-decoration-none text-dark">Continue shopping</a>


        </div>
    </div>
</form>
</div>

{% endblock %}