{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="checkout-wrapper container">
    <div class="row g-4">

        <!-- CART ITEMS -->
        <div class="col-lg-6">
            <div class="billing-details">
                <h4 class="pt-4 px-3">Billing address</h4>
                <form class="form-group billing-form" action="{% url '%}" method="POST">
                    {% csrf_token %}
                    <div class="name-section">
                        <label>First Name *</label>
                        <label>Last Name *</label>
                    </div>

                    <div class="name-section">
                        <input type="text" class="form-control">
                        <input type="text" class="form-control">
                    </div>

                    <label>Address *</label>
                    <input type="text" class="form-control">
                    <label>City </label>
                    <input type="text" class="form-control">
                    <label>Country *</label>
                    <input type="text" class="form-control">

                    <div class="name-section">
                        <label>County (optional)</label>
                        <label>Postcode *</label>
                    </div>

                    <div class="name-section">
                        <input type="text" class="form-control">
                        <input type="text" class="form-control">
                    </div>

                </form>
            </div>



        </div>

        <!-- CHECKOUT SUMMARY -->
        <div class="col-lg-6">
            <div class="checkout-container">
                <div class="cart-item">
                    <div class="cart-item-img">
                        <img src="{% static 'images/Mavi_jeans.jpg' %}" alt="">
                    </div>

                    <div class="cart-item-info">
                        <h5>Product title</h5>
                        <p>Color: Blue</p>
                        <p>Size: XL</p>
                    </div>

                    <div class="cart-item-qty">
                        <h5>Quantity</h5>
                        <p class="mx-4">2</p>
                    </div>

                    <div class="cart-item-price">
                        <h5>Price</h5>
                        <strong>£33</strong>
                        <small>each</small>
                    </div>



                </div>
                <button class="btn order-btn">Place order</button>
                <button class="btn continue-btn">Continue shopping</button>


            </div>
        </div>
    </div>
</div>

{% endblock %}