{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/product.css' %}" rel="stylesheet">
<link href="{% static 'css/star.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

{% endblock %}


{% block content%}

<div class="container mt-5">
    <div class="product_container">
        <div class="image_side p-2">
            <img  id="mainImage" src="{{ single_product.image.url }}">
            <ul class="thumb">
                {% for i in product_gallery %}
                <li>
                    <a href="{{ i.image.url }}">
                        <img src="{{ i.image.url }}" alt="Product image">
                    </a>
                </li>
                {% endfor %}
            </ul>
            
        </div>

        


        <div class=" details_side">
            <h3>{{ single_product.product_name}}</h3>
            <div class="rating-star mb-2">
                <i class="{% if single_product.averageReview >= 1 %}fa-solid fa-star{% elif single_product.averageReview >= 0.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
        
                <i class="{% if single_product.averageReview >= 2 %}fa-solid fa-star{% elif single_product.averageReview >= 1.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
        
                <i class="{% if single_product.averageReview >= 3 %}fa-solid fa-star{% elif single_product.averageReview >= 2.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
        
                <i class="{% if single_product.averageReview >= 4 %}fa-solid fa-star{% elif single_product.averageReview >= 3.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
        
                <i class="{% if single_product.averageReview >= 5 %}fa-solid fa-star{% elif single_product.averageReview >= 4.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
        
                <span>
                    
                    ({{ single_product.countReview }} reviews)
                </span>
                </div>
            <h4>£ {{single_product.price}} </h4>



            
            <p>{{ single_product.product_description }}</p>

            <form action="{% url 'add_cart' single_product.id %}" method="POST" class="form-group">
                {% csrf_token %}
                <b>Select size</b> <select class="form-control" style="width: 40%;" name="size">
                    <option>Select size</option>
                    {% for i in single_product.variation_set.sizes %}
                    <option value="{{ i.variation_value  }}">{{ i.variation_value }}</option>
                    {% endfor %}

                </select>
                <b>Select colour</b> <select class="form-control" name="color" style="width: 40%;">
                    <option>Select colour</option>
                    {% for i in single_product.variation_set.colors %}
                    <option value="{{ i.variation_value }}">{{ i.variation_value }}</option>
                    {% endfor %}
                </select>


                {% if single_product.stock <= 0 %} <h5 style="color:red; margin-top:2px;">Out of stock </h5>



                    {% else %}

                    <button type="submit" class="btn btn-primary   mt-5 mx-5">Add to cart
                        <i class="fa-solid fa-cart-shopping"></i></button>
                    {% endif %}

            </form>

        </div>
    </div>

</div>


<!-- review writing section -->

<div class="container">

    <h5>Write your review</h5>
    <form action="{% url 'submit_review' single_product.id %}" method="POST" class="form-group">
        {% csrf_token %}
        How do you rate this product?
        <br>
        <div class="rate">
            <input type="radio" name="rating" id="rating10" value="5" required><label for="rating10" title="5"></label>
            <input type="radio" name="rating" id="rating9" value="4.5"><label for="rating9" title="4.5"></label>
          
            <input type="radio" name="rating" id="rating8" value="4"><label for="rating8" title="4"></label>
            <input type="radio" name="rating" id="rating7" value="3.5"><label for="rating7" title="3.5"></label>
          
            <input type="radio" name="rating" id="rating6" value="3"><label for="rating6" title="3"></label>
            <input type="radio" name="rating" id="rating5" value="2.5"><label for="rating5" title="2.5"></label>
          
            <input type="radio" name="rating" id="rating4" value="2"><label for="rating4" title="2"></label>
            <input type="radio" name="rating" id="rating3" value="1.5"><label for="rating3" title="1.5"></label>
          
            <input type="radio" name="rating" id="rating2" value="1"><label for="rating2" title="1"></label>
            <input type="radio" name="rating" id="rating1" value="0.5"><label for="rating1" title="0.5"></label>
          
            <span class="stars" aria-hidden="true"></span>
          </div>
          
          
            
        <br>

    
        <label style="color: black;">Enter review title</label><input type="text" style="width: 80%;" name="subject" class="form-control">
        <label style="color: black;">Enter your review </label><textarea rows="3" style="width: 80%;" name="review" class="form-control"></textarea>
       
        {% if user.is_authenticated %}
            {% if orderproduct %}
                <button class="btn review-btn" type="submit">Submit Review</button>
            {% else %}
            <p>You must purchase the item  to post a review.</p>


            {% endif %}
        {% else %}
             <p>You must be logged in to post a review.<a href="{% url 'login' %}">Login</a></p>
        {% endif %}
        {% include 'alerts.html' %}
    </form>
<hr>


<!-- customer review section -->
    <div>
        <h4>Customer Reviews</h4>
        {% if reviews %}
    
        

        <div class="rating-star mb-2">
        <i class="{% if single_product.averageReview >= 1 %}fa-solid fa-star{% elif single_product.averageReview >= 0.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>

        <i class="{% if single_product.averageReview >= 2 %}fa-solid fa-star{% elif single_product.averageReview >= 1.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>

        <i class="{% if single_product.averageReview >= 3 %}fa-solid fa-star{% elif single_product.averageReview >= 2.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>

        <i class="{% if single_product.averageReview >= 4 %}fa-solid fa-star{% elif single_product.averageReview >= 3.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>

        <i class="{% if single_product.averageReview >= 5 %}fa-solid fa-star{% elif single_product.averageReview >= 4.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>

        <span>
            {{ single_product.averageReview|floatformat:1 }} / 5
            ({{ single_product.countReview }} reviews)
        </span>
        </div>

        <div class="card review-card">
        <div class="card-body">
            {% for review in reviews %}
            <div class="row">
                <div class="col-9">
                <h5 class="mb-0">{{ review.user.full_name }}</h5>
                </div>
                <div class="col-3 text-end">
                <h6>{{ review.updated_at }}</h6>
                </div>
            </div>

            <div class="rating-star mb-1">
                <i class="{% if review.rating >= 1 %}fa-solid fa-star{% elif review.rating >= 0.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
                <i class="{% if review.rating >= 2 %}fa-solid fa-star{% elif review.rating >= 1.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
                <i class="{% if review.rating >= 3 %}fa-solid fa-star{% elif review.rating >= 2.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
                <i class="{% if review.rating >= 4 %}fa-solid fa-star{% elif review.rating >= 3.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
                <i class="{% if review.rating >= 5 %}fa-solid fa-star{% elif review.rating >= 4.5 %}fa-solid fa-star-half-stroke{% else %}fa-regular fa-star{% endif %}"></i>
            </div>

            <strong>{{ review.subject }}</strong>
            <p class="mb-0">{{ review.review }}</p>
            <hr>
            {% endfor %}
        </div>
        </div>

        </div>
        {% else %}
        <p>No reviews available!</p>
        {% endif %}
    </div>

</div>





{% endblock %}